/* ==========================================
   EXAMGUARD REGISTER PAGE
========================================== */

.register-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:120px 20px;

}

.register-box{

    width:100%;

    max-width:520px;

    padding:45px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.18);

    border-radius:25px;

    box-shadow:0 15px 40px rgba(0,0,0,.25);

    animation:fadeUp .8s;

}

.register-box h1{

    text-align:center;

    margin-bottom:10px;

    font-size:34px;

}

.register-box p{

    text-align:center;

    margin-bottom:35px;

    color:#dbeafe;

}

.form-group{

    margin-bottom:20px;

}

.form-group label{

    display:block;

    margin-bottom:8px;

    color:white;

    font-weight:500;

}

.form-group input{

    width:100%;

}

.photo-box{

    margin-top:10px;

}

.photo-box input{

    padding:10px;

    cursor:pointer;

}

.photo-box input::file-selector-button{

    background:#2563eb;

    color:white;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;

    margin-right:12px;

}

.photo-box input::file-selector-button:hover{

    background:#1d4ed8;

}

.register-btn{

    width:100%;

    margin-top:15px;

}

.bottom-text{

    text-align:center;

    margin-top:25px;

    color:white;

}

.bottom-text a{

    color:#7dd3fc;

    font-weight:600;

}

.bottom-text a:hover{

    color:white;

}

.flash{

    padding:14px;

    margin-bottom:25px;

    border-radius:10px;

    text-align:center;

    color:white;

}

.success{

    background:#16a34a;

}

.danger{

    background:#dc2626;

}

@media(max-width:768px){

.register-box{

padding:30px;

}

.register-box h1{

font-size:28px;

}

}
.camera-section{

    text-align:center;

    margin-top:20px;

}

#video{

    border-radius:15px;

    border:3px solid #4facfe;

    width:300px;

    height:230px;

    object-fit:cover;

    box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.capture-btn{

    margin-top:15px;

    padding:12px 25px;

    border:none;

    border-radius:10px;

    background:#4facfe;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.capture-btn:hover{

    transform:scale(1.05);

}
.camera-section{

    text-align:center;
    margin:20px 0;

}

#video{

    width:320px;
    height:240px;

    border-radius:15px;

    border:3px solid #4F8EF7;

    object-fit:cover;

    background:#000;

}

.capture-btn{

    margin-top:15px;

    padding:12px 25px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    font-size:16px;

}

.capture-btn:hover{

    background:#1d4ed8;

}